@import "tailwindcss";

@theme {
  --color-reporter: #647fff;
  --color-police: #00c9a7;
  --color-specialist: #ffb800;
  --color-admin: #ff6b6b;
  
  --breakpoint-mobile: "480px";
  --breakpoint-tablet: "768px";
  --breakpoint-desktop: "1280px";
}

body {
  font-family: "Inter", sans-serif;
}
